*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-semaforo {
    display: flex;    
    flex-direction: column;
    align-items: center;    
    gap: 5vh;
}
.button-semaforo {
    height: 30px; 
    width: 100px;  
    position: relative;
    left: 25%;
    border-radius: revert;  
} 